PORT=8080
DATABASE_URL=postgres://app_user:app_user_password_change_me@db:5432/bank_loan_db?sslmode=disable
MIGRATE_DATABASE_URL=postgres://migrate_user:migrate_user_password_change_me@db:5432/bank_loan_db?sslmode=disable
JWT_SECRET=change-this-super-long-random-secret
ENV=development
POSTGRES_USER=postgres
POSTGRES_PASSWORD=postgres_admin_password_change_me
POSTGRES_DB=bank_loan_db
APP_DB_USER=app_user
APP_DB_PASSWORD=app_user_password_change_me
MIGRATE_DB_USER=migrate_user
MIGRATE_DB_PASSWORD=migrate_user_password_change_me